.electric-main{
  padding: 39px 160px;
  background-color: #222222;
  color: white;
  .container{
    .content{
      background-image: url("../img/logo-bg.png");
      background-size: 698.15px 411.4px;
      background-repeat: no-repeat;
      background-position: center;
      .text{
        margin-right: 24px;
        p{
          font-size: 16px;
          line-height: 20.16px;
          text-align: justify;
        }
      }
      .image{
        img{
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1190px) {
  .electric-main{
    padding: 32px 16px;
    .container{
      max-width: 100%;
      .title{
        h1{
        }
      }
      .breadcrumb {

        .list {
          .list-item {
            a {
              img {
              }
            }

            }
          }
        }
      }
      .content{

        .text{
          p{
          }
        }
        .image{
          img{

          }
        }
      }
    }
  }
@media screen and (max-width: 769px) {
  .electric-main{
    padding: 32px 64px;
    .container{
    }
    .content{
      align-items: center;
      flex-direction: column-reverse;
      .text{
        margin-top: 32px;
        margin-right: 0!important;
        p{
        }
      }
      .image{
        img{

        }
      }
    }
  }
}
@media screen and (max-width: 567px) {
  .electric-main{
    padding: 32px 16px;
    .container{

    }
    .content{
      align-items: center;
      flex-direction: column-reverse;
      .text{
        margin-top: 32px;
        margin-right: 0!important;
        p{
        }
      }
      .image{
        img{

        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .electric-main{
    .container{

    }
    .content{
      align-items: center;
      flex-direction: column-reverse;
      .text{
        margin-top: 32px;
        margin-right: 0!important;
        p{
        }
      }
      .image{
        img{

        }
      }
    }
  }
}