.auto-main {
  padding: 39px 160px;
  background-color: #222222;

  .container {
    .auto-ambulance {
      margin-bottom: 48px;

      .content {
        .text {
          p {
            color: white;
            text-align: justify;
            font-size: 24px;
          }
        }

        .image {
          background-image: url("../img/logo-bg.png");
          background-size: 604.15px 356px;
          background-repeat: no-repeat;

          img {
            width: 100%;
          }
        }
      }

    }

    .services {
      .title {
        margin-bottom: 29px;

        h1 {
          color: white;
          font-size: 36px;
          line-height: 45.36px;
          font-weight: 700;
        }
      }

      .main {
        .services-card {
          border-radius: 8px;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-right: 32px;
          min-height: 568px;
          margin-bottom: 32px;
          display: flex;
          align-items: center;
          background-color: #262626;
          width: 100%;

          .card-img {
            text-align: center;
            margin-top: 16px;
          }

          .card-title {
            margin-top: 16px;
            margin-bottom: 24px;
            text-align: center;

            span {
              color: white;
              font-size: 18px;
              font-weight: 700;
              line-height: 22.68px;

            }
          }

          .card-menu {
            .list {
              .list-item {
                display: flex;
                margin-bottom: 8px;
                color: white;

                .image {
                  display: inline-block;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .auto-main {
    padding: 48px 16px;

    .container {
      max-width: 100%;

      .auto-ambulance {

        .content {
          .text {
            p {
              font-size: 24px;
              line-height: 30.24px
            }
          }

          .image {
            background-size: 388.62px, 229px;

            img {

            }
          }
        }

      }

      .services {
        .title {


          h1 {
            font-size: 32px;
          }
        }

        .main {
          .services-card {

            .card-img {

            }

            .card-title {


              span {


              }
            }

            .card-menu {
              .list {
                .list-item {

                  .image {

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .auto-main {
    padding: 48px 16px;

    .container {
      max-width: 100%;

      .auto-ambulance {

        .content {
          .text {
            p {
              font-size: 16px;
              line-height: 20.16px;
              background-image: url("../img/logo-bg.png");
              background-size: 375px, 220.98px;
              background-repeat: no-repeat;
              background-position: center;
            }
          }

          .image {
            background: none;

            img {

            }
          }
        }

      }

      .services {
        .title {


          h1 {
            font-size: 28px;
          }
        }

        .main {
          .services-card {

            .card-img {

            }

            .card-title {


              span {


              }
            }

            .card-menu {
              .list {
                .list-item {

                  .image {

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .auto-main {
    .container {
      .auto-ambulance {

        .content {
          .text {
            p {
            }
          }

          .image {

            img {

            }
          }
        }

      }

      .services {
        .title {


          h1 {
            font-size: 24px;
          }
        }

        .main {
          .services-card {
            margin-right: 0;

            .card-img {

            }

            .card-title {


              span {


              }
            }

            .card-menu {
              .list {
                .list-item {

                  .image {

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}