.auto-main {
  padding: 39px 160px;
  background-color: #222222; }
  .auto-main .container .auto-ambulance {
    margin-bottom: 48px; }
    .auto-main .container .auto-ambulance .content .text p {
      color: white;
      text-align: justify;
      font-size: 24px; }
    .auto-main .container .auto-ambulance .content .image {
      background-image: url("../img/logo-bg.png");
      background-size: 604.15px 356px;
      background-repeat: no-repeat; }
      .auto-main .container .auto-ambulance .content .image img {
        width: 100%; }
  .auto-main .container .services .title {
    margin-bottom: 29px; }
    .auto-main .container .services .title h1 {
      color: white;
      font-size: 36px;
      line-height: 45.36px;
      font-weight: 700; }
  .auto-main .container .services .main .services-card {
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 32px;
    min-height: 568px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    background-color: #262626;
    width: 100%; }
    .auto-main .container .services .main .services-card .card-img {
      text-align: center;
      margin-top: 16px; }
    .auto-main .container .services .main .services-card .card-title {
      margin-top: 16px;
      margin-bottom: 24px;
      text-align: center; }
      .auto-main .container .services .main .services-card .card-title span {
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 22.68px; }
    .auto-main .container .services .main .services-card .card-menu .list .list-item {
      display: flex;
      margin-bottom: 8px;
      color: white; }
      .auto-main .container .services .main .services-card .card-menu .list .list-item .image {
        display: inline-block;
        margin-right: 10px; }

@media screen and (max-width: 1300px) {
  .auto-main {
    padding: 48px 16px; }
    .auto-main .container {
      max-width: 100%; }
      .auto-main .container .auto-ambulance .content .text p {
        font-size: 24px;
        line-height: 30.24px; }
      .auto-main .container .auto-ambulance .content .image {
        background-size: 388.62px, 229px; }
      .auto-main .container .services .title h1 {
        font-size: 32px; } }
@media screen and (max-width: 767px) {
  .auto-main {
    padding: 48px 16px; }
    .auto-main .container {
      max-width: 100%; }
      .auto-main .container .auto-ambulance .content .text p {
        font-size: 16px;
        line-height: 20.16px;
        background-image: url("../img/logo-bg.png");
        background-size: 375px, 220.98px;
        background-repeat: no-repeat;
        background-position: center; }
      .auto-main .container .auto-ambulance .content .image {
        background: none; }
      .auto-main .container .services .title h1 {
        font-size: 28px; } }
@media screen and (max-width: 575px) {
  .auto-main .container .services .title h1 {
    font-size: 24px; }
  .auto-main .container .services .main .services-card {
    margin-right: 0; } }

/*# sourceMappingURL=avtoambulans.css.map */
