.auto-main {
  padding: 39px 160px;
  background-color: #222222;

  .container {
    .auto-ambulance {
      .title {
        h1 {
          color: white;
          font-size: 42px;
          line-height: 50px;
          font-weight: 700;
          margin-bottom: 16px;
        }
      }

      .breadcrumb {
        align-items: center;
        padding: 0;
        margin-bottom: 48px;

        .list {
          background-color: rgba(38, 38, 38, 1);
          padding: 0;

          .list-item {
            padding: 15px 24px 13px 24px;

            a {
              display: flex;
              align-items: center;
              color: rgba(160, 164, 168, 1);
              font-size: 14px;
              line-height: 24px;

              img {
                margin-left: 24px;
              }
            }

            &:first-child {
              background-color: #2E2E2E;
              padding: 15px 29px 13px 29px;

              img {
                margin-right: 12px;
                margin-left: 0;
              }
            }
          }

          .active {
            a {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }

      .content {
        .text {
          p {
            color: white;
            text-align: justify;
            font-size: 24px;
          }
        }

        .image {
          background-image: url("../img/logo-bg.png");
          background-size: 604.15px 356px;
          background-repeat: no-repeat;
        }
      }

    }

    .services {
      .title {
        margin-bottom: 29px;

        h1 {
          color: white;
          font-size: 36px;
          line-height: 45.36px;
          font-weight: 700;
        }
      }

      .main {
        .card {
          margin-right: 32px;
          min-height: 568px;
          display: flex;
          align-items: center;
          background-color: #262626;

          .card-img {
            text-align: center;
            margin-top: 16px;
          }

          .card-title {
            margin-top: 16px;
            margin-bottom: 24px;

            span {
              color: white;
              font-size: 18px;
              font-weight: 700;
              line-height: 22.68px;

            }
          }

          .card-menu {
            .list {
              .list-item {
                display: flex;
                margin-bottom: 8px;
                color: white;
                .image{
                  display: inline-block;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}