$main-color: #FFDD00;
body {
  background-color: #222222;

  .container {
    background-image: url("../img/queueBg.png");
    background-size: 1690px 730px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    padding: 48px 160px;


    .navbar {
      .logo {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .queueMain {
      .title {
        margin-top: 54px;
        margin-bottom: 32px;

        h1 {
          color: white;
          font-size: 36px;
          line-height: 45.36px;
          text-align: center;
        }

      }

      .form {
        padding: 0 50px;

        .row {
          input, select, textarea {
            color: #A0A4A8;
            border: 1px solid rgba(255, 255, 255, 1);
            background: rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            padding: 21px 12px;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            width: 100%;
            margin-bottom: 32px;

            &:focus {
              outline: none;
              border-color: $main-color;
            }
          }

          textarea {
            padding: 21px 12px 81px;
          }

          #phone-num {
            .phone-num-input {
              padding-left: 70px;
            }

            .phone-select {
              width: 15%;
              max-width: max-content;

              button {
                left: 45px;
                top: 15px;
              }

              ul {
                left: 0;

              }

              .select-input {
                color: white !important;
                border: none;
                color: white;
                background: none;


              }
            }
          }

          .car-code {
            position: absolute;
            color: #A0A4A8;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            padding: 8px 12px;
          }

          .select {
            input {
              position: relative;
              margin-bottom: 0;
              cursor: pointer;
            }

            button {
              background: none;
              border: none;
              position: absolute;
              right: 22px;
              top: 17px;
            }

            ul {
              display: none;
              z-index: 1;
              list-style: none;
              background-color: #312f2f;
              padding: 0;
              position: absolute;
              top: 70px;
              left: 15px;
              border-radius: 8px;
              width: 95%;

              .active {
                background-color: $main-color;
              }

              li {
                color: white;
                padding: 10px;
                cursor: pointer;

                &:hover {
                  background-color: $main-color;
                }

                &:first-child {
                  border-radius: 8px 8px 0 0;
                }

                &:last-child {
                  border-radius: 0 0 8px 8px;
                }

              }
            }
          }

        }

        .submit-button, .backToSite {
          text-align: end;

          button {
            width: 100%;
            background-color: $main-color;
            border-radius: 10px;
            font-size: 18px;
            line-height: 22.68px;
            text-align: center;
            border: none;
            padding: 18px 77px;
            font-weight: bold;
          }
        }

        .backToSite {
          width: 100%;
          border-radius: 10px;
          font-size: 18px;
          line-height: 22.68px;
          text-align: center;
          padding: 18px 77px;
          font-weight: bold;
          background-color: transparent;
          color: $main-color;
          border: 1px solid $main-color;
          a{
            color: $main-color;
            text-decoration: none;
          }

        }
      }

    }
  }
}

.selectPhonePrefix::-webkit-input-placeholder {
  color: white;
  font-weight: 400;
}

.modal-overlay {
  overflow: auto;
  display: none;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.50);
  position: absolute;

  .modal-item {
    max-width: 348px;
    box-shadow: 2px 4px 15px 0px #00000012;
    background-color: #262626;
    border-radius: 2px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 30px 24px 24px 24px;

    .modal-icon {
      width: 60px;
      height: 60px;
      padding: 14px;
      border-radius: 50%;
      text-align: center;
      margin-bottom: 24px;
    }

    .modal-message {
      margin-bottom: 32px;
      text-align: center !important;

      span {
        color: white;
        font-weight: 700;
        line-height: 24px;
        font-size: 16px;

      }
    }

    .modal-btn {
      button {
        padding: 13px 132px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        border: none;
        background-color: black;
        color: white;
        border-radius: 6px;
      }
    }
  }

  .modal1 {
    display: none;
    border-top: 2px solid #2AC769;

    .modal-icon {
      background-color: #2AC769;
    }
  }

  .modal2 {
    display: none;
    border-top: 2px solid #FF6262;

    .modal-icon {
      background-color: #FF6262;
    }

    .modal-message {
      margin-bottom: 16px;

      .add {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-family: TT Interphases;
        color: #A0A4A8;
      }
    }
  }

  .modal3 {
    display: none;
    border-top: 2px solid #FF6262;

    .modal-icon {
      background-color: #FF6262;
      margin-bottom: 20px;
    }

    .modal-message {
      margin-bottom: 10px;
    }

    .error {
      margin-left: 29px;

      .err-mes {
        margin-bottom: 4px;

        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          color: #A0A4A8;
          margin-left: 14px;
        }

        &:last-child {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 1256px) {
  body {
    .container {
      padding: 48px 49px;

      .navbar {
        .logo {
          img {
          }
        }
      }

      .queueMain {
        .title {
          h1 {

          }

        }

        .form {
          padding: 0;

          .row {
            input, select, textarea {

            }

            #phone-num {
              .phone-num-input {
              }

              .phone-select {
                width: 25%;

                button {
                }

                ul {
                }

                .select-input {
                }
              }
            }

            .car-code {
            }

            .select {
              input {

              }

              button {

              }

              ul {

                .active {

                }

                li {

                }
              }
            }

          }

          .submit-button {

            button {

            }

          }
        }

      }
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    .container {
      padding: 48px 16px;

      .navbar {
        display: flex;
        justify-content: center;

        .logo {
          img {
          }
        }
      }

      .queueMain {
        .title {
          h1 {
            font-size: 30px;
            margin-bottom: 32px;
          }

        }

        .form {
          padding: 0;

          .row {
            input, select, textarea {
              margin-bottom: 16px;
            }

            .select-input, .phone-num-input {
              margin-bottom: 16px !important;
            }

            textarea {
              padding: 12px 16px 46px;
            }

            #phone-num {
              .phone-num-input {
              }

              .phone-select {
                width: 25%;

                button {
                }

                ul {
                }

                .select-input {
                }
              }
            }

            .car-code {
            }

            .select {
              input {

              }

              button {

              }

              ul {

                .active {

                }

                li {

                }
              }
            }

          }

          .buttons {
            flex-direction: column-reverse;

            button {
              margin-bottom: 16px;
            }

          }
        }

      }
    }
  }
}